<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mathrusoft.teacher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Teacher App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--<activity-->
            <!--android:name=".ActivityDemoBindService"-->
            <!--android:label="Demo Bind Service"-->
            <!--android:theme="@style/AppTheme">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".ActivityLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ActivityDemoService"
            android:screenOrientation="portrait">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>


        <service android:name=".service.DemoBindService"></service>

        <service android:name=".service.DemoService"></service>
        <service android:name=".service.DemoIntentService"></service>

        <!--<activity-->
        <!--android:name=".ActivityWidgetDemo"-->
        <!--android:label="@string/app_name"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity-->
        <!--android:name=".ActivityA"-->
        <!--android:label="Activity A"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".ActivityB"
            android:label="Activity B"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


        <receiver android:name=".receiver.InternetConnectedReciver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.MyBroadCastReceiver">
            <intent-filter>
                <action android:name="custom_action" />
            </intent-filter>
        </receiver>

        <!--<activity-->
        <!--android:name=".ActivityRecyclerView"-->
        <!--android:label="Activity Fr Demo"-->
        <!--android:theme="@style/AppTheme">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity-->
        <!--android:name=".ActivityDemoFragment"-->
        <!--android:label="Activity Fragment Demo"-->
        <!--android:theme="@style/AppTheme">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->


        <!--<activity-->
        <!--android:name=".ActivityAsyncTaskDemo"-->
        <!--android:label="Async Demo"-->
        <!--android:theme="@style/AppTheme">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity-->
        <!--android:name=".ActivityDemoRecyclerView"-->
        <!--android:label="Activity Recycler Demo"-->
        <!--android:theme="@style/AppTheme">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

    </application>

</manifest>